/*
   ====================================
   Colors
   ====================================
*/

$turquoise: #1abc9c;
$turquoise-dark: #16a085;
$green: #2ecc71;
$green-dark: #27ae60;
$blue: #3498db;
$blue-dark: #2980b9;
$navy: #34495e;
$navy-dark: #2c3e50;
$purple: #9b59b6;
$purple-dark: #8e44ad;
$yellow: #f1c40f;
$yellow-dark: #f39c12;
$orange: #e67e22;
$orange-dark: #d35400;
$red: #e74c3c;
$red-dark: #c0392b;
$grey-ultralight: #ecf0f1;
$grey-light: #bdc3c7;
$grey: #95a5a6;
$grey-dark: #7f8c8d;

$color: #fff;
$background-color: #21243f;
$tile-background-color: #3c4166;

/*
   ====================================
   Typography
   ====================================
*/

$font-family: 'Montserrat', sans-serif;
$font-weight: 400;
$font-weight-light: 400;
$font-weight-bold: 600;
$font-weight-black: 900;
$font-size-base: 16px;
$font-size-xxs: .65rem;
$font-size-xs: .8rem;
$font-size-s: .9rem;
$font-size-default: 1rem;
$font-size-m: 1.1rem;
$font-size-l: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;

/*
   ====================================
   Grid
   ====================================
*/

$grid-gap: 1vw;
$grid-padding: 1vw;
